<h1>Users</h1>
<hr/>
<div ng-if="users && users.length > 0">
  <form class="form-inline" role="form">
    <div class="form-group">
      <label class="sr-only" for="search">User's name</label>
      <input type="text" id="search" placeholder="Type a name to filter" ng-model="search" class="form-control" autofocus>
    </div>
  </form>

  <br/>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in users | filter:search | orderBy:'name'">
        <td>{{$index + 1}}</td>
        <td><a href="#user/{{user.id}}">{{user.name}}</a></td>
      </tr>
    </tbody>
  </table>
</div>

<div ng-if="!users || users.length == 0" class="alert alert-warning">
  <strong>Warning!</strong> No users found. Use the button below to create one ;)
</div>

<hr/>

<a class="btn btn-primary" href="#newUser">New User</a>